// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/app/app";
@import "../pages/facebook/facebook";
@import "../pages/kontakt/kontakt";
@import "../pages/leistungen/leistungen";
@import "../pages/projekte/projekte";
@import "../pages/startseite/startseite";
@import "../pages/team/team";
@import "../pages/web/web";

@font-face {
    font-family: 'Exo';
    src: url("../fonts/exo-light.ttf");
    src: url("../fonts/exo-light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Exo';
    src: url("../fonts/exo-regular.ttf");
    src: url("../fonts/exo-regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Exo';
    src: url("../fonts/exo-medium.ttf");
    src: url("../fonts/exo-medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Exo';
    src: url("../fonts/exo-bold.ttf");
    src: url("../fonts/exo-bold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-light.ttf");
    src: url("../fonts/roboto-light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-regular.ttf");
    src: url("../fonts/roboto-regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-medium.ttf");
    src: url("../fonts/roboto-medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-bold.ttf");
    src: url("../fonts/roboto-bold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}


@import "font-awesome/font-awesome.scss";
@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.ttf");
    src: url("../fonts/fontawesome-webfont.woff") format('woff');
}