// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #fff,
  secondary:  #0b68ae,
  danger:     #cdd076,
  light:      #eee,
  dark:       #2a2a2a,
  favorite:   #9da396
);

$toolbar-background: color($colors, primary);
$link-color: color($colors, secondary); 
$link-md-color: color($colors, secondary); 
$link-ios-color: color($colors, secondary); 
$link-wp-color: color($colors, secondary); 


$footer-background: color($colors, dark); 
$footer-link-color: color($colors, primary); 
$border-color: color($colors, danger);

body, .htmlarea-content-body {
    font-family: Open Sans, Exo, Arial;
    font-size: 15px;
    line-height: 1.55;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Exo, Open Sans, Arial;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
p {
    line-height: 1.8;
}
a, a:link, a:hover, a:focus, a:active, a:visited {
    outline: none;
    text-decoration: none;
}
hr {
    margin-top: 25px;
    margin-bottom: 30px;
}

h2 a {
    color: #444;
}

#cus_container-01 {
    padding: 0 15px 15px;
}

.main-title-box {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    position: relative;
}
.main-title-box:before {
    background: #cdd076;
    bottom: -1px;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 0 -1px;
    position: absolute;
    width: 30px;
}

.cus_icon-web h2 {
    background: transparent url("../../images/Icon_Webentwicklung.png") no-repeat scroll left center;
    line-height: 2;
    padding-left: 60px;
}
.cus_icon-app h2 {
    background: transparent url("../../images/Icon_Appentwicklung.png") no-repeat scroll left center;
    line-height: 2;
    padding-left: 60px;
}
.cus_icon-service h2 {
    background: transparent url("../../images/Icon_Leistungen.png") no-repeat scroll left center;
    line-height: 2;
    padding-left: 60px;
}

.toolbar{
  border-bottom: 1px solid color($colors, light);
}
ion-navbar ion-title ion-img {
  float: right !important;
}

.toolbar-content ion-img{
  float: left;
  margin: 0 10px 0 5px;
}


ion-footer{
    border-top: 2px solid color($colors, danger);
}

.button-icon-right{
    float: right;
}

.startseiten-slider{
  display:block !important;
  max-width:100% !important;
  height:auto !important;
}
