// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #fff,
  secondary:  #0b68ae,
  danger:     #cdd076,
  light:      #eee,
  dark:       #2a2a2a,
  favorite:   #9da396
);

$toolbar-background: color($colors, primary);
$link-color: color($colors, secondary); 
$link-md-color: color($colors, secondary); 
$link-ios-color: color($colors, secondary); 
$link-wp-color: color($colors, secondary); 


$footer-background: color($colors, dark); 
$footer-link-color: color($colors, primary); 
$border-color: color($colors, danger);


.toolbar{
  border-bottom: 1px solid color($colors, light);
}
ion-title ion-img {
  float: right;
}



.bottom_bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: color($colors, dark);
    color: color($colors, primary);
    border-top: 2px solid color($colors, danger);
}

.button-icon-right{
    float: right;
}
