.team {
	.list-unstyled {
		padding-left: 0;
		list-style: none;
	}
	.cus_image-rund img {
		border: 6px solid #777777;
		border-radius: 50%;
		width: 155px;
		height: 155px;
		overflow: hidden;
	}
	.main-title-box{
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: large;
		display: block;
	}
	.socialmedia-icons span {
		margin-right: 10px;
	}
	.socialmedia-icons span a {
		color: #cdd076;
		font-size: 20px;
	}
}

