.team {
     
}

}
/*.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}*/
.col-md-12 {
    width: 100%;
}
img.lazyload {
    opacity: 0.3;
    -webkit-transition: opacity 0.3s ease-in 0s;
    -o-transition: opacity 0.3s ease-in 0s;
    transition: opacity 0.3s ease-in 0s;
}
.image > img, .image a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.cus_image-rund figure.image img {
    border: 6px solid #777777;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    overflow: hidden;
}
